*~
**/*.pyc
**/*.class
**/*.orig
**/*.origc
**/*.log
**/*.pot
**/*.gz
**/*.egg-info
**/*.egg
__pycache__
db.sqlite3
media
.out
lib
ivy-libraries
.build
.gradle
# JetBrains
.idea/workspace.xml
.idea/inspectionProfiles
.idea/misc.xml
out
utout_*/*
dist
*.class
.DS_Store
.pyenv*
pyenv*
cachedir
_build
__build
