<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <H1>{{ title }}</H1>
    {% if user.is_authenticated %}
        User <b><i>{{ user.username }}</i></b> is authenticated.<br><br>
        Role <b>Test</b>
        {% if 'Test' in user.roles %}
            <span style="color: green; ">Authorised</span><br>
        {% else %}
            <span style="color: red; ">Not Authorised</span><br>
        {% endif %}
        Role <b>Security</b>
        {% if 'Security' in user.roles %}
            <span style="color: green; ">Authorised</span><br>
        {% else %}
            <span style="color: red; ">Not Authorised</span><br>
        {% endif %}
        <br><br>
        <a href="/">Home</a>&nbsp; &nbsp;<a href="/logout">Logout</a>
    {%  else %}
        <p>This is a programming error.  Unauthenticated users should not reach this page!</p>
        <a href="/">Home</a>
    {% endif %}
</body>
</html>